[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/hextra"]
	path = themes/hextra
	url = git@github.com:imfing/hextra.git
[submodule "themes/bearneo"]
	path = themes/bearneo
	url = git@github.com:rokcso/hugo-bearneo.git
[submodule "themes/fresh"]
	path = themes/fresh
	url = git@github.com:StefMa/hugo-fresh.git
